<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Devices running Android 12L (API level 32) or lower  -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
     <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <!-- Required to access GPS Data of Media -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <!-- To handle the reselection within the app on devices running Android 14
         or higher if your app targets Android 14 (API level 34) or higher.  -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/launcher_label"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Splash">

        <!--Initialize components here-->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!--Firebase-->
            <meta-data
                android:name="com.prime.media.impl.FirebaseInitializer"
                android:value="androidx.startup" />

            <!-- Koin-->
            <meta-data
                android:name="com.prime.media.impl.KoinInitializer"
                android:value="androidx.startup" />

            <!--Coil ImageLoader-->
            <meta-data
                android:name="com.prime.media.impl.CoilInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="com.prime.media.impl.AdNetworkInitializer"
                android:value="androidx.startup" />
        </provider>
        <!-- Disable FirebaseInitProvider -->
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            android:enabled="false"
            android:exported="false"
            tools:node="remove" />

        <!--Single Activity-->
        <activity
            android:name="com.prime.media.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:exported="true"
            android:launchMode="singleTask">

            <!--Activity's Intent Filter-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--Intent Filter for uri Scheme-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>

            <!--Intent Filter for playing video files-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme=""
                    tools:ignore="AppLinkUrlError" /> <!-- External player compatibility in Kodi -->
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

    </application>
</manifest>